body {
font-family: Arial;
margin: 0;
}

header {
 background-color: rgb(159, 194, 225);
 text-align: center;
 width: 100vw;
 height: 40vh; 
 box-sizing: border-box; 
}

#logo {
 width: 40vw;
 height: 40vh;
}
