html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f3f4ef;
  color: black;
}


.app-container {
  display: flex;
  flex-direction: column;
  height: 75vh;
  justify-content: center; 
  align-items: center; 
}


.content {
  width: 300px; 
  padding: 20px;
  background-color: #fff; 
  border-radius: 8px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

form {
  display: flex;
  flex-direction: column;
}


.input-container {
  margin-bottom: 25px; 
}


label {
  margin-bottom: 10px; 
}


button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #212832;
  color: #fff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.4s ease;
  -webkit-transition: background-color 0.4s ease;
  -moz-transition: background-color 0.4s ease;
  -ms-transition: background-color 0.4s ease;
  -o-transition: background-color 0.4s ease;
}

button:hover {
  background-color: #9ea5ac; 
}


p {
  margin-top: 10px; 
  font-size: 30px; 
  color: gray; 
}

