 /* Estilos generales para el contenedor del formulario */
 .contact-form-container {
    max-width: 600px;
    margin: 110px auto; /* Alineación centrada con más margen arriba */
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}
/* Título del formulario */
.contact-form-container h2 {
    text-align: center;
    color: #333333;
    margin-bottom: 20px;
    font-size: 24px;
}

/* Etiquetas del formulario */
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555555;
}

/* Campos de entrada y área de texto */
input, textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    color: #333333;
    background-color: #f9f9f9;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

/* Botón de envío */
button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}


/* Mensaje de estado */
p {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
}

/* Mensaje de error */
p.error {
    color: red;
}
