.contact-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 700px; 
    height: 75%;
    width: 100%;
    box-sizing: border-box; /* Asegura que el padding se incluya en el tamaño total */
}

.contact-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
}

.input-container {
    position: relative;
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9;
    outline: none;
}

textarea {
    width: 100%;
    padding: 15px; /* Aumenta el padding para hacer el textarea más espacioso */
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px; /* Ajusta el tamaño de fuente si es necesario */
    color: #333;
    background-color: #f9f9f9;
    outline: none;
    min-height: 150px; /* Establece una altura mínima para el textarea */
}


input:focus ~ label,
textarea:focus ~ label,
input:not(:placeholder-shown) ~ label,
textarea:not(:placeholder-shown) ~ label {
    top: -10px;
    font-size: 12px;
    color: #000; /* Color negro para la etiqueta */
}

input::placeholder,
textarea::placeholder {
    color: transparent;
}

label {
    position: absolute;
    left: 12px;
    top: 15px;
    color: #555;
    transition: top 0.3s ease-out, font-size 0.3s ease-out;
    /*Eliminamoslatransicióndecolor*/pointer-events: none;
    -webkit-transition: top 0.3s ease-out, font-size 0.3s ease-out;
    -moz-transition: top 0.3s ease-out, font-size 0.3s ease-out;
    -ms-transition: top 0.3s ease-out, font-size 0.3s ease-out;
    -o-transition: top 0.3s ease-out, font-size 0.3s ease-out;
}

.button-container {
    display: flex;
    flex-direction: column; /* Botones uno debajo del otro */
    align-items: center; /* Centra los botones */
    gap: 10px; /* Espacio entre los botones */
    margin-top: 20px;
}

button {
    width: 100%; /* Hace que los botones ocupen todo el ancho del contenedor */
    max-width: 270px; /* Limita el ancho máximo del botón */
    padding: 15px; /* Aumenta el padding para hacer los botones más altos */
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    font-size: 18px; /* Aumenta el tamaño de la fuente */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.footer {
    text-align: center;
    margin-top: 20px;
}

/* Nuevo CSS para centrar el título */
.contact-modal h2 {
    text-align: center;
    margin-bottom: 20px; /* Espacio debajo del título */
}
