.footer-bar {
 padding: 0.25rem 0; /* Reduce el padding superior e inferior para reducir la altura del footer */
 margin-top: auto;
 background-color: #3c3c3c;
 width: 100vw;
 color: white;
 display: flex;
 flex-direction: column;
 align-items: center;
 max-height: 200px; /* Ajusta la altura máxima según sea necesario */
 overflow: hidden; /* Asegura que el footer no se expanda más allá del tamaño máximo */
 position: relative;
}

.footer-bar .container {
 display: flex;
 flex-direction: column;
 align-items: center;
 max-width: 1200px; /* Ajusta según el ancho deseado */
 width: 100%;
 padding: 0; /* Elimina padding adicional del contenedor */
}

.footer-bar .button-container {
 display: flex;
 flex-direction: row;
 gap: 0.5rem; /* Espacio reducido entre los botones */
 margin-bottom: 0.5rem; /* Espacio reducido entre los botones y los íconos */
}

.footer-bar .icons-container {
 display: flex;
 gap: 1rem; /* Espacio reducido entre los íconos */
 margin-top: 0.5rem; /* Espacio reducido entre los íconos y el botón */
 margin-bottom: 0.5rem; /* Espacio reducido entre los íconos y el texto */
 justify-content: center;
 align-items: center;
}

.footer-bar .icon {
 width: 120px; /* Tamaño ligeramente mayor de los íconos */
 height: auto; /* Mantiene la proporción del ícono */
}

.footer-bar .button {
 padding: 0.25rem 0.5rem; /* Tamaño reducido del botón */
 font-size: 0.75rem; /* Tamaño reducido del texto del botón */
 background-color: #ffffff;
 color: #3c3c3c;
 text-transform: none;
}

.footer-bar .button:hover {
 background-color: #f0f0f0;
}

.footer-bar .text {
 margin-bottom: 0.5rem; /* Reduce el espacio entre el texto y los íconos */
 text-align: center;
 font-size: 0.75rem; /* Tamaño reducido del texto */
}

