/* src/styles/NavBar.css */

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.navbar-content {
    display: flex;
    align-items: center;
    width: 100%;
}

.navbar-logo {
    height: 40px;
    margin-right: 20px;
}

.navbar-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    justify-content: center;
}

.navbar-links li {
    margin: 0 15px;
    cursor: pointer;
    color: white;
    font-size: 16px;
}

.navbar-auth {
    display: flex;
    align-items: center;
}

.login-button, .register-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s ease;
}

.login-button:hover, .register-button:hover {
    background-color: #0056b3;
}
