.participate-section {
    margin: 50px auto;
    max-width: 1200px;
    padding: 20px;
    background-color: whitesmoke;
    color: #2c3e50;
    text-align: center;
}

.section-title {
    font-size: 3rem;
    margin: 0 auto 30px auto;
    font-weight: bold;
    max-width: 80%;
}

.section-content {
    color: #2c3e50;
    line-height: 1.8;
    font-size: 1.4rem;
}

.section-intro {
    margin-bottom: 50px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    transform: translateX(20px);
}

.section-intro.visible {
    opacity: 1;
    transform: translateX(0);
}

.how-to-participate {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-with-image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
    padding: 30px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    transform: translateY(20px);
    max-width: 1200px;
    width: 100%;
    height: 300px;
    position: relative;
}

.section-with-image.visible {
    opacity: 1;
    transform: translateY(0);
}

.overlay {
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente negro */
    color: white; /* Color del texto blanco */
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    width: 100%;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section-image-container {
    display: none; /* Ocultamos este contenedor ya que no es necesario con el nuevo diseño */
}

.section-content {
    flex: 1;
    padding: 20px;
    font-size: 1.4rem;
}

.section-inner-content {
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    transform: translateX(20px);
}

.section-inner-content.visible {
    opacity: 1;
    transform: translateX(0);
}

.overlay h3,
.overlay p {
    font-size: 1.6rem; /* Tamaño del texto aumentado */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8); /* Añadir sombra al texto para mayor legibilidad */
}

