/* src/styles/ParticipateSection.css */

/* Estilos generales de la sección */
.participate-section {
    max-width: 1200px; /* Ajustar al mismo ancho que el contenedor de otras páginas */
    margin: 50px auto; /* Centrar la sección y añadir márgenes */
    padding: 20px;
    background-color: white; /* Fondo blanco como en las otras secciones */
    color: black;
    text-align: center; /* Alinear el texto al centro */
}

/* Títulos de sección */
.section-title {
    font-size: 2rem; /* Tamaño de fuente consistente */
    color: #2c3e50; /* Color del texto para el título, igual que en otras páginas */
    margin-bottom: 20px;
}

/* Contenido de la sección */
.section-content {
  
    line-height: 1.6;
}

/* Sección de introducción */
.section-intro {
    color: #34495e;
    margin-bottom: 40px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    transform: translateX(20px);
}

/* Hacer visible la sección de introducción */
.section-intro.visible {
    opacity: 1;
    transform: translateX(0);
}

/* Sección con fondo */
.section-with-background {
    position: relative;
    margin-bottom: 40px;
    padding: 20px;
    background-size: cover;
    background-position: center;
    color: #fff; /* Color del texto blanco para secciones con imagen de fondo */
    border-radius: 5px;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    transform: translateY(20px);
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar el contenido */
}

/* Hacer visible la sección con fondo */
.section-with-background.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Overlay para las secciones con fondo */
.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Oscurecer el fondo para mejor contraste */
    z-index: 1;
}

/* Contenido dentro de la sección con fondo */
.section-content {
    position: relative;
    z-index: 2;
    padding: 20px;
    /* Ajustar padding si es necesario para mejorar separación del texto */
}

/* Contenido interior de la sección */
.section-inner-content {
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    transform: translateX(20px);
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
}

/* Hacer visible el contenido interior */
.section-inner-content.visible {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

/* Imagen de fondo en las secciones con fondo */
.section-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7; /* Ajusta la opacidad de la imagen de fondo para asegurar contraste */
    transition: opacity 0.5s ease-in-out;
}

/* Hacer visible la imagen de fondo */
.section-image.visible {
    opacity: 1;
}

