.participate-section {
    margin: 50px auto;
    max-width: 1200px; /* Aumenta el ancho máximo para proporcionar más espacio general */
    padding: 20px;
    background-color: whitesmoke;
    color: #2c3e50;
}

.section-title {
    font-size: 3rem; /* Aumenta el tamaño del título para destacarlo más */
    margin-bottom: 30px; /* Más espacio debajo del título */
}

.section-content {
    color: #2c3e50;
    line-height: 1.8; /* Aumenta el interlineado para mejor legibilidad */
}

.section-intro {
    margin-bottom: 50px; /* Aumenta el margen inferior para más espacio */
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    transform: translateX(20px);
}

.section-intro.visible {
    opacity: 1;
    transform: translateX(0);
}

.section-with-image {
    display: flex;
    align-items: center;
    margin-bottom: 80px; /* Aumenta el margen inferior para mayor separación entre secciones */
    padding: 30px; /* Aumenta el padding para más espacio interno */
    background-color: white;
    border-radius: 10px; /* Aumenta el radio de borde para bordes más redondeados */
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    transform: translateY(20px);
}

.section-with-image.visible {
    opacity: 1;
    transform: translateY(0);
}

.section-image-container {
    flex: 1;
    margin-right: 40px; /* Aumenta el margen derecho para separar más de los textos */
    max-width: 600px; /* Aumenta el ancho máximo de la imagen para que sea más grande */
    display: flex;
    justify-content: center; /* Centra la imagen horizontalmente */
    align-items: center; /* Centra la imagen verticalmente */
}

.section-image {
    width: 100%;
    height: auto;
    max-height: 800px; /* Aumenta la altura máxima de la imagen */
    border-radius: 10px; /* Aumenta el radio de borde para bordes más redondeados */
    object-fit: cover; /* Asegura que la imagen cubra el área sin distorsionarse */
}

.section-content {
    flex: 2;
    padding: 20px;
}

.section-inner-content {
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    transform: translateX(20px);
}

.section-inner-content.visible {
    opacity: 1;
    transform: translateX(0);
}
