body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    max-width: 12np00px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    text-align: center;
    margin-bottom: 40px;
}

.header h1 {
    font-size: 2.5rem;
    color: #2c3e50;
}

.intro-gallery-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.intro {
    flex: 1;
    padding-right: 20px;
}

.intro-text {
    margin-bottom: 20px;
}

.gallery {
    flex: 1;
}

.intro h2 {
    font-size: 2rem;
    color: #16a085;
    margin-bottom: 20px;
}

.intro p {
    font-size: 1rem;
    color: #34495e;
    line-height: 1.6;
}

.card {
    margin-bottom: 20px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card h3 {
    font-size: 1.5rem;
    color: #2980b9;
}

.card p {
    font-size: 1rem;
    color: #2c3e50;
}

.gallery img {
    max-height: 270px;
    object-fit: contain;
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.gallery img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.container {
    padding: 20px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.intro-gallery-container {
    display: flex;
    gap: 20px;
}

.intro {
    flex: 1;
    margin-right: 20px;
}

.gallery-container {
    flex: 1;
    max-width: 500px; /* Ajusta el ancho máximo según tus necesidades */
}

.intro-text {
    margin-bottom: 20px;
}

.card {
    margin-bottom: 20px;
}
.image-container {
    position: relative;
    width: calc(20% - 20px); /* Ajusta el ancho de cada imagen */
    text-align: center;
    border-radius: 50px
}
.image-wrapper {
    width: calc(50% - 1px); /* Calcula el ancho deseado para 5 imágenes en una fila */
    position: relative;
    text-align: center;
    margin-bottom: 20px; /* Espacio entre las imágenes */
}

.image-wrapper img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.image-wrapper img:hover {
    transform: scale(1.1);
}

.image-wrapper .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.image-wrapper:hover .overlay {
    visibility: visible;
    opacity: 1;
}

.image-wrapper a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}
